<template>
  <q-page class="details-page">
    <div class="row q-col-gutter-md">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">

            <div class="video-div" v-if="video_data">
              <q-video :src="prepareVideoUrl" />
            </div>

            <div class="video-details q-pa-md">
              <div class="text-h6 title">
                {{video_data.title}}
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-subtitle1 views">
                  {{video_data.publishedAt | dateFormat}}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 text-subtitle1 likes-div" align="right">
                  <q-chip>
                    <q-avatar icon="remove_red_eye"></q-avatar> {{video_data.viewCount}}
                  </q-chip>
                  <q-chip>
                    <q-avatar icon="thumb_up"></q-avatar> {{video_data.likeCount}}
                  </q-chip>
                  <q-chip>
                    <q-avatar icon="thumb_down"></q-avatar> {{video_data.dislikeCount}}
                  </q-chip>
                  <q-chip>
                    <q-avatar icon="comment"></q-avatar> {{video_data.commentsCount}}
                  </q-chip>
                  <q-chip>
                    <q-avatar icon="favorite"></q-avatar> {{video_data.favoriteCount}}
                  </q-chip>
                </div>
              </div>
            </div>

            <q-separator />

            <div class="video-desc q-pa-md">
              <pre>{{video_data.desc | showLess }}</pre>
            </div>
        </div>
        <q-separator class="separtor" />
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <videolist :code="video_data.id"></videolist>
        </div>
    </div>
  </q-page>
</template>

<!-- <script src="https://www.baqend.com/js-sdk/latest/baqend.min.js"></script> -->
<script>
import videolist from 'components/video_list'
import moment from 'moment'
import { mapState } from 'vuex'

export default {
  name: 'detailsPage',
  components: {
    videolist
  },
  data () {
    return {}
  },
  filters: {
    dateFormat: function (date) {
      return moment(date).fromNow()
    },
    showLess: function (text) {
      if (text) {
        return text.slice(0, 300) + '...'
      }
      return text
    }
  },
  computed: mapState({
    dash_loader: state => state.generic.dash_loader,
    video_data: state => state.generic.selected_video_data,
    prepareVideoUrl () {
      return `https://www.youtube.com/embed/${this.video_data.id}`
    }
  }),
  watch: {
    '$route' (to, from) {
      if (to.params) {
        this.$store.dispatch('generic/getSelectedVideoData', to.params.code)
      }
    }
  },
  created () {
    if (this.$route.params) {
      this.$store.dispatch('generic/getSelectedVideoData', this.$route.params.code)
    }
  },
  methods: {}
}
</script>

<style lang="styl">
.details-page {
  .q-video {
    height: 500px;

      @media $tab {
        height: 400px;
      }

      @media $mobile {
        height: 250px;
      }
  }
  .separtor {
    /* width: 100%; */
    display: block;

    @media $desktop {
      display: none;
    }
  }

  .q-icon {
    color: $primary
  }
  pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
</style>
