<template>
  <q-page class="">
    <h6>Latest Collections</h6>

    <div class="row q-col-gutter-md">
      <div
        class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-12"
        v-for="(video, index) in dash_video_data"
        :key="index"
      >
        <q-card
          square
          flat
          bordered
          class="my-card"
          @click="navigate(video.id)"
        >
          <img :src="video.thumbnail">

          <q-card-section>
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label class="text-subtitle2 q-mb-sm" lines="2">
                    {{video.title}}
                  </q-item-label>

                  <q-item-label caption lines="1">
                    by {{video.channelTitle}}
                  </q-item-label>

                  <q-item-label caption lines="1">
                    <span>{{video.viewCount}} views</span>,
                    <span style="float: right">{{video.publishedAt | dateFormat}}</span>
                  </q-item-label>

                </q-item-section>
              </q-item>
            </q-list>
          </q-card-section>
        </q-card>
      </div>
    </div>
    <q-inner-loading :showing="dash_loader">
      <q-spinner
        color="primary"
        size="3em"
      />
    </q-inner-loading>
  </q-page>
</template>

<style>
</style>

<!-- <script src="https://www.baqend.com/js-sdk/latest/baqend.min.js"></script> -->
<script>
import { mapState } from 'vuex'
import moment from 'moment'

export default {
  name: 'PageIndex',
  data () {
    return {}
  },
  filters: {
    dateFormat: function (date) {
      return moment(date).fromNow()
    }
  },
  computed: mapState({
    dash_loader: state => state.generic.dash_loader,
    dash_video_data: state => state.generic.dash_video_data
  }),
  created () {
    this.$store.dispatch('generic/getVideoData')
  },
  methods: {
    navigate (code) {
      this.$router.push({ name: 'pdp', params: { code } })
    }
  }
}
</script>
