<template>
  <q-page class="search-results">
    <div class="row" v-if="search_results.length > 0">
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <q-list>
          <div v-for="(video, index) in search_results" :key="index">
            <q-item @click.native="navigate(video.id)">
              <q-item-section top thumbnail class="q-ml-none">
                <img :src="video.thumbnail">
              </q-item-section>

              <q-item-section>
                <q-item-label class="text-h6" lines="3">{{video.title}}</q-item-label>
                <q-item-label class="text-body2">
                  {{video.publishedAt | dateFormat}}
                </q-item-label>
                <q-item-label class="text-body2 desc" lines="2">{{video.desc}}</q-item-label>
              </q-item-section>
            </q-item>
            <q-separator spaced inset="item" />
          </div>
          <q-inner-loading :showing="dash_loader">
            <q-spinner
              color="primary"
              size="3em"
            />
          </q-inner-loading>
        </q-list>
      </div>
    </div>
    <div v-if="search_results.length === 0 && dash_loader === false" align="center" class="q-pt-xl">
      <h6>No data found to display</h6>
      <div class="text-body1">Please search with some keyword or <router-link to="/">GoTo Home</router-link></div>
    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
import moment from 'moment'

export default {
  name: 'search',
  data () {
    return {}
  },
  filters: {
    dateFormat: function (date) {
      return moment(date).fromNow()
    }
  },
  computed: mapState({
    dash_loader: state => state.generic.dash_loader,
    search_results: state => state.generic.search_results
  }),
  methods: {
    navigate (code) {
      code = code.videoId
      this.$router.push({ name: 'pdp', params: { code } })
    }
  }
}
</script>

<style lang="styl">
.search-results {
  @media $mobile {
    margin-top: 15px;
  }
  .q-list {
    @media $mobile {
      padding: 0 15px;

      @media $mobile {
        padding: 0 10px;
      }
    }
    .q-item {
      padding: 0px 16px;
      cursor: pointer;

      .text-h6 {
        @media $mobile {
          font-size: 0.95rem;
        }
      }

      .desc {
        @media $mobile {
          display: none !important;
        }
      }

      .q-item__section--thumbnail img {
        width: 250px;
        height: 150px;

        @media $mobile {
          width: 135px;
          height: 75px;
        }
      }
    }
  }
}
</style>
