<template>
  <q-page padding class="flex flex-center">
    <h6>Trending videos are coming soon...</h6>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
}
</script>

<style>
</style>
