.q-page-container {
	@media $desktop {
		padding-left: 260px !important;
	}

	.q-page {
		padding: 15px;

		@media $mobile {
			padding: 0px;
		}
	}
}
h6 {
	margin: 10px 0 !important;

	@media $mobile {
		margin: 10px !important;
	}
}

.poweredBy {
	width: 100%;
    bottom: 15px;
    color: $primary;
    font-weight: bold;
    position: fixed;
    text-align: center;

    .row {
    	align-items: center;

    	img {
	    	width: 50px;
		    height: 50px;
		    border-radius: 50%;
	    }

	    .socials {
	    	text-align: left;

	    	img {
	    		width: 30px;
    			height: 30px;
	    	}
	    }
    }
}

.q-card {
	cursor: pointer;

	&:hover {
		transform: scale(1.1);
		transition: transform .5s ease;
	}
	.q-card__section {
		padding: 5px !important;

		.q-item {
			padding: 5px 5px !important;
		}
	}
}