
.app-header {
	.q-drawer {
		width: 260px !important;
		border: none !important;
	}

	.q-list {
		.q-item {
			&.q-router-link--active {
				color: #000;
			}

			&.q-router-link--exact-active {
				background: #E0E6EB;
				color: var(--q-color-primary);
			}
		}
	}

	.q-header {
		.q-field {
			min-width: 268px;

    		.q-field__control, .q-field__append {
    			height: 40px;
    			background: #fff;
    		}

    		@media $mobile {
    			/* display: none; */
    		}
		}

		.q-toolbar__title {
			@media $mobile {
				display: none;
			}
		}

		.q-layout__shadow::after {
			box-shadow: none !important;
		}
	}
}
