<template>
  <div class="app-header">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          playTube
        </q-toolbar-title>

        <div>
          <form v-on:submit.prevent="getSearchResults">
            <q-input
              v-model="search"
              debounce="500"
              outlined
              clearable
              filled
              hide-bottom-space
              placeholder="Search"
            >
              <template v-slot:append>
                <q-icon name="search" @click="getSearchResults"/>
              </template>
            </q-input>
          </form>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
        v-model="leftDrawerOpen"
        bordered
        content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Navigation Links</q-item-label>
        <q-item clickable to="/">
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Home</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="/trending">
          <q-item-section avatar>
            <q-icon name="whatshot" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Trending</q-item-label>
          </q-item-section>
        </q-item>
        <!-- <q-item clickable to='/history'>
          <q-item-section avatar>
            <q-icon name="history" />
          </q-item-section>
          <q-item-section>
            <q-item-label>History</q-item-label>
          </q-item-section>
        </q-item> -->
      </q-list>

      <div class="poweredBy">
        <div class="row">
          <div class="col-3">
            <img src="statics/my_pic.jpg">
          </div>
          <div class="col-9 socials">
            <div>&copy; 2019, Vasu Kuncham</div>
            <div>
              <a href="https://www.linkedin.com/in/kuncham-vasu-b1101a9a/" target="_blank">
                <img src="statics/linkedin.jpg">
              </a>
            </div>
          </div>
        </div>
      </div>
    </q-drawer>
  </div>
</template>

<script>
export default {
  name: 'appHeader',
  data () {
    return {
      search: '',
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    getSearchResults () {
      if (this.search !== '') {
        this.$router.push({ name: 'search' })
        this.$store.dispatch('generic/getSearchDetails', this.search)
      }
    }
  }
}
</script>

<style>
</style>
