<template>
  <q-list>
    <div class="text-subtitle1 q-mb-xs">Related Videos</div>
    <q-separator spaced />
    <div v-for="(video, index) in related_videos" :key="index">
      <q-item @click.native="navigate(video.id)">
        <q-item-section top thumbnail class="q-ml-none">
          <img :src="video.thumbnail">
        </q-item-section>

        <q-item-section>
          <q-item-label lines="3">{{video.title}}</q-item-label>
          <q-item-label caption>by {{video.channelTitle}}</q-item-label>
        </q-item-section>
      </q-item>
      <q-separator spaced inset="item" />
    </div>
    <q-inner-loading :showing="dash_loader">
      <q-spinner
        color="primary"
        size="3em"
      />
    </q-inner-loading>
  </q-list>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'video_list',
  props: ['code'],
  data () {
    return {}
  },
  computed: mapState({
    dash_loader: state => state.generic.dash_loader,
    related_videos: state => state.generic.related_videos
  }),
  watch: {
    code: function (newVal, oldVal) {
      this.$store.dispatch('generic/getRelatedVideoData', this.code)
    }
  },
  methods: {
    navigate (code) {
      code = code.videoId
      this.$router.push({ name: 'pdp', params: { code } })
    }
  }
}
</script>

<style lang="styl">
  .q-list {
    @media $mobile {
      padding: 0 15px;
    }
    .q-item {
      padding: 0px 16px;
      cursor: pointer;

      .q-item__section--thumbnail img {
        width: 135px;
        height: 75px;
      }
    }
  }
</style>
