<template>
  <q-layout view="hHh Lpr lFf">
    <appHeader></appHeader>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'
import appHeader from 'components/header.vue'

export default {
  name: 'MyLayout',
  components: {
    appHeader
  },
  data () {
    return {}
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
